<div>
    <b> Product Adder Directive </b>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                <th ng-repeat="size_data in size.picks">{{size_data.label}}</th>
                <!-- <th> Small</th>
                <th> Medium</th>
                <th> Standard</th>
                <th> Large</th> -->
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="colour_data in colour.picks">
                <td> <img height="25" ng-src="{{colour_data.imageUrl}}" />{{colour_data.label}}</td>
                <td ng-repeat="size_data in size.picks"> <input type="number" class="form-control" ng-model="order[colour_data.id][size_data.id]" /> </td>
            </tr>

        </tbody>
    </table>
    
    <div class="text-center">
        <button class="btn btn-lg btn-success" ng-click="addProdsToCart()"> ADD TO CART </button>
    </div>
    
    <div style="margin-bottom: 50px;"></div>
</div>